.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header_text {
    font-size: 36px;
    font-weight: bold;
}

.gif_container {
    margin-top: 20px;
}

.btn {
    background-color: #017cff;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0156d1;
}
